


ion-content {
    font-family: 'Almarai', sans-serif;
.container {
  background-image: url("/assets/background.jpg");
  height: 634px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  img{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 44.5%;
  }

  .ar {
    background: #06D495;
    color: #ffffff !important;
    display: inline-block;
    width: 80%;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    margin-top: 25%;
    margin-bottom: 4%;
    font-size: 16px;
    box-shadow: 2px 7px 8px #42d77d7a !important;
    font-family: 'Almarai', sans-serif;
  }

  .en {
    --background: #e3dede !important;
    color: #8b8687;
    font-weight: 600;
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    box-shadow: 2px 7px 8px #d7d8da !important;
    font-family: 'Almarai', sans-serif;
  }

  .button-solid {
    --box-shadow: none !important;
  }

}

}
