<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/imgs/header-logo.png" alt="">
    <ion-buttons slot="start">
      <ion-button class="bordered">
        <ion-badge>3</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-item lines="none">
    <ion-label style="text-align: right;">
      <p>مرحبا,محمد بن جاسم</p>
      <h3>لقد تبرعت ب</h3>
      <h3>7000.00درهم</h3>
    </ion-label>
    <ion-avatar slot="end">
      <img src="assets/imgs/avatar.png">
    </ion-avatar>

  </ion-item>
</ion-header>

<ion-content >
  <div class="container">
    <div class="slides ion-margin-bottom">
      <ion-slides pager="true">
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-button  class="card-btn">حالة طائة</ion-button>
            </ion-card-header>
            <ion-card-content>
              <div class="card-subtitle">رجل مسن يحتاج لعملية قلب مفتوح عاجلة يعاني هبوطا في الدورة الدموية</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-button  class="card-btn">حالة طائة</ion-button>
            </ion-card-header>
            <ion-card-content>
              <div class="card-subtitle">رجل مسن يحتاج لعملية قلب مفتوح عاجلة يعاني هبوطا في الدورة الدموية</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-button  class="card-btn">حالة طائة</ion-button>
            </ion-card-header>
            <ion-card-content>
              <div class="card-subtitle">رجل مسن يحتاج لعملية قلب مفتوح عاجلة يعاني هبوطا في الدورة الدموية</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </div>

    <ion-grid>

      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs/3.png" alt="">
          <p>أماكن التبرعات</p>
        </ion-col>
        <ion-col col-4>
          <img src="assets/imgs/2.png" alt="">
          <p>حساب الزكاة</p>
        </ion-col>
        <ion-col col-4>
          <img src="assets/imgs/7.png" alt="">
          <p>المشاريع</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs/9.png" alt="">
          <p>طلب مندوب</p>
        </ion-col>
        <ion-col col-4>
          <img src="assets/imgs/8.png" alt="">
          <p>طلب صندوق ملابس</p>
        </ion-col>
        <ion-col col-4>
          <img src="assets/imgs/1.png" alt="">
          <p>طلب حصالة تبرع</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs/5.png" alt="">
          <p>مواقيت الصلاة</p>
        </ion-col>
        <ion-col col-4>
          <img src="assets/imgs/4.png" alt="">
          <p>القبلة</p>
        </ion-col>
        <ion-col col-4>
          <img src="assets/imgs/6.png" alt="">
          <p>إتصل بنا</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>

